<br />
<br />
<br />
<br />

<footer class="footer mt-auto py-3" style="background-color: #306998; height: 250px; padding: 15px; margin-top: 50px; color: #ffd43b; ">
    <div class="container text-center">
        <span style="color: #ffd43b;">
            <i class="fab fa-python fa-2x"></i>

            <p>Thanks for using <a href="https://github.com/berouques/pypi-offgrid" style="color: #ffd43b;"><i class="fab fa-github"></i> pypi-offgrid</a>.</p>
            
            <p><a href="https://github.com/berouques">🐻</a><a href="https://www.codium.ai/">🤖</a><a href="https://copilot.microsoft.com/">👩‍✈️</a><a href="https://huggingface.co/">🤗</a></p>


        </span>
    </div>
</footer>
